.navbar {
  background: transparent;
}
.nav-logo {
  width: 100px;
  border-radius: 50px;
}
.hover:hover {
  text-decoration: underline;
  color: orange !important;
  transition: 0.5s ease-in;
}
.nav-bg {
  background: #659999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-hover:hover {
  background: #659999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.5s;
}

.login-bg {
  background-image: url("../assets/images/loginbg.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.demo {
  position: absolute;
  top: 20%;
  left: 40%;
  background-color: rgba(0, 0, 0, 0.5);
}
.z-index {
  z-index: -1;
}
.btn-hover {
  cursor: pointer;
}
.user-bg {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg.jpg");
  background-size: cover;
}
@media (max-width: 550px) {
  .user-bg {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/images/bg-media.jpg");
    background-size: cover;
  }
}
